@use "../abstracts/variables" as *;

input:not([type="radio"]):not([type="checkbox"]),
textarea {
  width: 100%;

  border-radius: $radius-sm;
  border: 1px solid rgba($color-white, 0.12);

  background: rgba($color-white, 0.08);
  color: $color-white;

  font-family: inherit;
  font-size: 14px;
  font-weight: 400;

  outline: none;

  transition:
    border-color 0.25s ease,
    background 0.25s ease,
    color 0.25s ease;

  &::placeholder {
    color: rgba($color-white, 0.48);
  }

  &:focus {
    border-color: $color-blue-soft;
    background: rgba($color-white, 0.12);
  }
}

input:not([type="radio"]):not([type="checkbox"]) {
  min-height: 43px;
  padding: 0 18px;
}

textarea {
  min-height: 120px;
  padding: 18px;
  resize: vertical;
}
