@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  position: sticky;
  top: 37px;
  z-index: 100;
  background: linear-gradient(180deg, rgba(2, 6, 13, 0.92), rgba(2, 6, 13, 0.72));
  border-bottom: 1px solid rgba($color-white, 0.05);
  backdrop-filter: blur(24px);

  &__wrapper {
    @include container;
    @include flex-between;
    min-height: 82px;
  }

  &__logo {
    max-width: 92px;
  }

  &__nav {
    display: flex;
    gap: 30px;

    a {
      color: $color-white;
      font-size: 16px;
      transition: $transition;

      &:hover {
        color: $color-blue;
      }
    }
  }
  & .btn--primary {
    min-height: 40px;
  }

  @media (max-width: $tablet) {
    &__nav {
      display: none;
    }
  }
}
