@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.topbar {
  background: $color-navy-light;
  color: $color-gray;
  font-size: 13px;

  &__wrapper {
    @include container;
    @include flex-between;
    min-height: 42px;
  }

  span {
    color: $color-blue-soft;
  }
}
