.icon {
  width: 1rem;
  height: 1rem;

  flex-shrink: 0;

  display: block;

  &--sm {
    width: .875rem;
    height: .875rem;
  }

  &--lg {
    width: 1.125rem;
    height: 1.125rem;
  }
  &--xl {
    width: 1.25rem;
    height: 1.25rem;
  }
}
