// COLORS
$color-black: #02060d;
/* $color-navy: #040912; */
$color-navy: #070b12;
$color-navy-light: #02050c;
$color-blue: #3896ef;
$color-blue-soft: #8ab8ff;
$color-white: #f5f7fb;
$color-gray: #97a3b7;
$color-gray-dark: #0d1117;
$color-gray-light: #c7d0de;
$color-border: rgba(255, 255, 255, 0.08);

$color-light: #f4f7fb;
$color-dark-gray: #5f6b7a;

// TYPOGRAPHY
$font-main: "Inter", sans-serif;
$font-heading: "Red Hat Display", sans-serif;

// CONTAINER
$container-width: 1440px;
$container-padding: 56px;
$container-padding-mobile: 24px;

// RADIUS
$radius-sm: 4px;
$radius-md: 4px;
$radius-full: 4px;

// TRANSITION
$transition: 0.25s ease;

// BREAKPOINTS
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$wide: 1440px;

// Grid
$gap-sm: 16px;
$gap-md: 24px;
$gap-xl: 30px;

